<!DOCTYPE html>
{% extends "base.html"%}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block title %} my blog {% endblock %}
</head>
<body>
    <div id="blockcontent">
        {% block content %}
            <h1> My blog </h1>
            {% for post in posts %}
                <h2>
                    <a href="{{ post.get_absolute_url }}"> {{ post.title}} </a>
                </h2>
                <p class="date">
                    Published {{post.publish}} by {{post.author}}
                </p>
                {{ post.body|truncatewords:30|linebreaks }}
                <p>
                    <a href="{% url 'blog:post_share' post.id %}" > share this post </a>
                </p>
                {% with comments.count as total_comments %}
                    <h2>
                    {{ total_comments }} comment {{ total_comments|pluralize }}
                    </h2>
                {% endwith %}
                {% for comment in comments %}
                    <div class="comment">
                        <p class="info">
                            Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}
                        </p>
                        {{ comment.body|linebreaks }}
                    </div>
                {% empty %}
                    <p> there are no comments </p>
                {% endfor %}
                {% include "comment_form.html"%}
            {% endfor %}
            {% include "pagination.html" with page=page_obj %}
        {% endblock %}
    </div>
</body>
</html>